# FIAP
## Engenharia de Software
### Data Science and Statistical Computing

SQLite LAB - ETL - Extraction Transformation and Load

Install:

pip3 install sqlite3

or

conda install sqlite3

In [88]:
!wget https://github.com/danielscarvalho/data/blob/master/Clients.csv?raw=true -O Clients.csv

--2024-09-26 00:37:39--  https://github.com/danielscarvalho/data/blob/master/Clients.csv?raw=true
Resolving github.com (github.com)... 20.201.28.151
Connecting to github.com (github.com)|20.201.28.151|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://github.com/danielscarvalho/data/raw/refs/heads/master/Clients.csv [following]
--2024-09-26 00:37:40--  https://github.com/danielscarvalho/data/raw/refs/heads/master/Clients.csv
Reusing existing connection to github.com:443.
HTTP request sent, awaiting response... 302 Found
Location: https://raw.githubusercontent.com/danielscarvalho/data/refs/heads/master/Clients.csv [following]
--2024-09-26 00:37:40--  https://raw.githubusercontent.com/danielscarvalho/data/refs/heads/master/Clients.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 2606:50c0:8002::154, 2606:50c0:8000::154, 2606:50c0:8003::154, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|2606:50c0:8002::154|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 74239 (72K) [text/plain]
Saving to: ‘Clients.csv’

Clients.csv         100%[===================>]  72.50K  --.-KB/s    in 0.04s

2024-09-26 00:37:40 (1.59 MB/s) - ‘Clients.csv’ saved [74239/74239]

In [89]:
ls -l *.csv

-rw-rw-r-- 1 fito fito  74239 Sep 25 23:47 Client.csv
-rw-rw-r-- 1 fito fito  74239 Sep 26 00:37 Clients.csv
-rw-rw-r-- 1 fito fito 684250 Apr 29 02:21 bitcoins_trades.csv

In [90]:
!head Clients.csv

Seq,Value,Cost,Type,Category,Reference,Sub,Dec,Ticket
1,0.993190858335105,704.151859720177,A,Gold,399.122282809757,-70,Gamma,1432
2,0.555051310059166,776.584086430537,B,Silver,828.930698378043,74,Gamma,1433
3,0.0890770883227318,909.221706181418,B,Silver,987.120310195753,-55,Gamma,1434
4,0.109345778842911,57.2442840655498,B,Silver,980.133134243492,87,Gamma,1435
5,0.290697424748017,898.92160632871,B,Silver,190.085343055745,-39,Gamma,1436
6,0.591107732196357,126.598489368848,B,Silver,651.264660866354,83,Gamma,1437
7,0.985322702594319,588.142563005177,C,Silver,252.743863713731,-43,Gamma,1438
8,0.331527780422579,832.966968426264,C,Silver,142.750118211529,50,Gamma,1439
9,0.311497095693109,193.32694327513,C,Silver,480.384255226109,-62,Gamma,1440

In [91]:
CT_CLIENTS_SQL = """
create table clients (
seq integer not null primary key,
value float,
cost float,
type text,
category text,
reference integer,
sub integer,
dec text,
ticket interger
)
"""

In [109]:
import sqlite3

con = sqlite3.connect("fiap.db")

In [110]:
cursor = con.cursor()

In [111]:
result_set = cursor.execute("select date(), sqlite_version()")

In [112]:
for record in result_set:
    print(record)

('2024-09-26', '3.41.2')

In [96]:
result_set = cursor.execute(CT_CLIENTS_SQL)

OperationalError: table clients already exists

In [37]:
for record in result_set:
    print(record)

In [113]:
file = open("Clients.csv","r")

clients_head = file.readline()

print(clients_head)

Seq,Value,Cost,Type,Category,Reference,Sub,Dec,Ticket

Data sample, first and second lines of the clients.csv:
```csv
Seq,Value,Cost,Type,Category,Reference,Sub,Dec,Ticket
1,0.993190858335105,704.151859720177,A,Gold,399.122282809757,-70,Gamma,1432
```

In [115]:
for line in file:
    
    try:

        columns = line.split(",")

        seq = int(columns[0])
        value = float(columns[1])
        cost = float(columns[2])
        type = columns[3]
        category = columns[4]
        reference = float(columns[5])
        sub = int(columns[6])
        dec = columns[7]
        ticket = int(columns[8])

        INSERT_SQL = f"insert into clients values({seq},{value},{cost},'{type}','{category}',{reference},{sub},'{dec}',{ticket})"
        
        #print(INSERT_SQL)        
    
        cursor.execute(INSERT_SQL)

    except Exception as err:
        print("Ops! - ", err, " - ", INSERT_SQL)

Ops! -  database is locked  -  insert into clients values(5,0.290697424748017,898.92160632871,'B','Silver',190.085343055745,-39,'Gamma',1436)

KeyboardInterrupt:

In [104]:
result_set = cursor.execute("select count(1) qtd from clients")

for record in result_set:
    print(record)

(0,)

In [87]:
result_set = cursor.execute("select * from clients where seq == (select max(seq) from clients)")

for record in result_set:
    print(record)

(1000, 0.0432759565581071, 920.506722271134, 'B', 'Prata', 687.753336916526, 49, 'Alpha', 1600)

In [108]:
result_set = cursor.execute("select sub, count(1) qtd, sum(reference) from clients group by sub")

for record in result_set:
    print(record)

ProgrammingError: Cannot operate on a closed database.

In [107]:
file.close()
con.close()

In [81]:
# cursor.execute("delete from clients")
print(_)

<sqlite3.Cursor object at 0x71d06400e840>